# Ignore everything by default
*

# Only allow resume website files
!.gitignore
!CNAME
!index.html
!technical-portfolio.html
!lab-overview.html
!contact.html
!digital-resume.html
!Robert_Seevers_Resume.pdf
